.contact-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8% 3% 0% 3%;
    border-radius: 1rem;
}

.contact-me h2 {
    color: #000;
}

.contact-me p , .contact-me address{
    color: #6A6E71;
}
.contact-me p strong{
    color: #000;
}

.contact-me .info, .contact-me .div {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 13%;

}
.contact-me .form{
    margin-top: 10px;
    margin-left: 5%;
}
.contact-me .form label{
    display: block;
    /*color: #d1d6da;*/
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-me .form input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-me .form textarea {
    display: block;
    width: 100%;
    height: calc(10.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.paragrph{
    color: #000 !important;
}
.contactButton{
    width: 20% !important;
    margin-top: 7%;
    height: 11%;
    font-weight: bolder;
    background-color: #fff;
    cursor: pointer;
}

.cardEmailMMe{
    width: 50%;
    box-sizing: unset;
}